html{
    padding: 0;
    margin: 0;

    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;

    background-color: #23395d;
    display: flex;
    flex-direction: column;
}

/* NAVIGATION BAR styles */

nav{
    margin: 0;
    padding: 0;

    background-color: #505E75;
    border: 2px solid lightgray;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

li{
    display: inline;
    float: left;
}

#title{
    padding-left: 0;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;

    border-right: 2px solid lightgray;
}

li a, #title{
    display: block;
    text-align: center;
    padding: 12px 16px;

    text-decoration: none;
    font-weight: bold;
    color: lightgray;
}

li a:hover{
    text-decoration: underline;
}

li .active{
    text-decoration: underline;
}

/* CONTAINER AND CONTENT styles */

.container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    width: 80vw;
    height: auto;

    background-color: #505E75;
    color: white;
    border: 2px solid lightgray;

    display: flex;
    flex-direction: column;
}

.about{
    display: flex;
    flex-direction: row;
}

textarea{
    display: block;
    height: 700px;
    width: 35%;

    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    background-color: #23395d;
    color: white;
    text-align: center;
}
/* FOOTER styles */

footer{
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: #505E75;
    border-top: 2px solid lightgray;

    overflow: hidden;
}

footer p{
    color: white;
    text-align: center;
}