html{
    padding: 0;
    margin: 0;

    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}

/* NAVIGATION BAR styles */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: darkred;
}

li{
    display: inline;
    float: left;
}

#title{
    padding-left: 0;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;

    border-right: 2px solid white;
}

li a, #title{
    display: block;
    text-align: center;
    padding: 12px 16px;

    text-decoration: none;
    color: white;
}

li a:hover{
    text-decoration: underline;
}

li .active{
    text-decoration: underline;
}

/* CONTAINER AND CONTENT styles */

.container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    width: 95vw;

    background-color: white;
    border: 2px solid black;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content{
    margin-left: 20px;
}

/* FOOTER styles */

footer{
    margin: 0;
    padding: 0;

    background-color: darkred;
    overflow: hidden;
}

footer p{
    color: white;
    text-align: center;
}